{% extends 'base.html' %}

{% block title %}
    Login | Simulador de Webhooks
{% endblock %}

{% block body %}
    {% include 'navbar.html' %}

    <div class="container">
        {% with mensagens = get_flashed_messages(with_categories=True) %}
            {% if mensagens %}
                {% for categoria, mensagem in mensagens %}
                    <div class="alert {{ categoria }}">
                        {{ mensagem }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container container-section">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <form method="POST" action="" class="border p-4 mt-4" style="width: 430px;">
                    {{ form_login.csrf_token }}
                    <legend>Login</legend>
                    <hr />
                    <fieldset>
                        <div class="form-group">
                            {{ form_login.email.label(class="form-control-label") }}
                            {% if form_login.email.errors %}
                                {{ form_login.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form_login.email.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_login.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_login.password.label(class="form-control-label") }}
                            {% if form_login.password.errors %}
                                {{ form_login.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form_login.password.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_login.password(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_login.token.label(class="form-control-label") }}
                            {% if form_login.token.errors %}
                                {{ form_login.token(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form_login.token.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_login.token(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_login.remember_info.label(class="form-check-label") }}
                            {{ form_login.remember_info(class="form-check-input") }}
                        </div>
                    </fieldset>

                    <div class="d-flex justify-content-right align-items-right">
                        {{ form_login.button_submit_login(class="btn btn-outline-primary mt-2") }}
                    </div>

                <div class="col d-flex justify-content-center align-items-center" style="color: black;">
                    <a class="nav-link" href="{{ url_for('create_account') }}">Criar conta</a>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
